In [2]:
import numpy as np
import pandas as pd

## Types of Encoding

In [ ]:
Encoding is necessary in each n every ML projects, because ML algorithm does understand the nos.
Or while building the model with the help of ML algorithm, data supposed to be in numerical form.

In [ ]:
1. Label Encoding
2. One hot encoding, get dummies.

In [ ]:
categories:
1. If the categories are more than 5, we should prefer label encoding
2. If categories are less in number, then we can go with label encoding/one hot encoding.

In [4]:
df = pd.DataFrame({'City':['Pune', 'Mumbai','Delhi','Mumbai', 'Pune','Banglore','Kolkata']})
df

       City
0      Pune
1    Mumbai
2     Delhi
3    Mumbai
4      Pune
5  Banglore
6   Kolkata

In [ ]:
# Label Encoding
'Pune':0, 'Mumbai':1,'Delhi':2,'Banglore':3,'Kolkata':4

In [ ]:
# One hot encoding
City      Pune  Mumbai  Delhi  Banglore  Kolkata
Pune       1      0       0      0          0
Mumbai     0      1       0      0          0
Delhi      0      0       1      0          0
Mumbai     0      1       0      0          0
Pune       1      0       0      0          0
Banglore   0      0       0      1          0
Kolkata    0      0       0       0         1

## One Hot Encoder

In [5]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
1. fit() # training
2. fit_transform() # training >>>> fit() + transform()
3. transform() # training or testing

In [6]:
onehot_enc = OneHotEncoder(dtype=int)
array = onehot_enc.fit_transform(df[['City']]).toarray()
df_city = pd.DataFrame(array, columns=onehot_enc.categories_)
df_city

  Banglore Delhi Kolkata Mumbai Pune
0        0     0       0      0    1
1        0     0       0      1    0
2        0     1       0      0    0
3        0     0       0      1    0
4        0     0       0      0    1
5        1     0       0      0    0
6        0     0       1      0    0

In [ ]:
df = pd.read_csv('autos_dataset.csv')
df